

  <h2>Login Form</h2>

  <form action="/sign_out" method='post'>

    <div class="container">
      <button type="submit">Log Out</button>
      <div class="cancel">
        <a href='/'>Cancel</a>
      </div>
    </div>

  </form>
  <footer class="footer">
    <div class="footer_text">
      <p>This website was built at <span>Makers Academy</span> by Marius Guei 2018</p>
      <p>Website was built using <span>Ruby, Sinatra, PostgreSQL, Capybara, HTML and CSS</span>.</p>
    </div>
    <a href="/"><img src="makers-logo.png" alt="makers logo"></a>
  </footer>
</div>
</body>
</html>
