* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 20px 30px;
}

h2 {
  margin: 10px 0;
  display: inline-block;
  width: 250px;
  color: #fff;
  text-shadow: 2px 2px #748ad9;
  text-align: center;
}

.content {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 650px;
  background: #fcfcfc;
  box-shadow: 8px 8px rgb(208, 208, 208);
}

.add_bookmarks {
  height: 300px
}


.topnav {
    overflow: hidden;
    background-color: #3e4d82;
}
#show_id {
  margin-left: 15px;
}

.links{
  background: #1AAB8A;
  color: #fff;
  border: solid 2px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  height: 35px;
  font-size: xx-small;
  padding: 0 1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  float: left;
  display: inline-block;
  text-align: center;
  width: 45px;
}
.links:hover{
  background:#fff;
  color:#1AAB8A;
}
.links:before,.links:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.links:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.links:hover:before,.links:hover:after{
  width:100%;
  transition:800ms ease all;
}
footer img {
  width: 10%;
  margin: 10px 0 10px 20px;

}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #3d4c84;
}

.footer_text {
  display: inline-block;
  margin: 10px 20px 15px 0;
  font-size: 0.4em;
  float: right;
  color: #9f9f9f;

}
.footer_text span {
  color: #03ac89;
}
